
.app {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url('./assets/starry-night.jpg');
}

.content-area .rocket-tile-area {
  height: 100vh;
}

.content-area {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
}

.rocket-tile-area {
  flex: 1;

}

.center-text {
  text-align: center;
}

h1 {
  color: white;
  font-weight: bolder;
}

.rocket-image-style {
  height: 70vh;
  max-width: 40vw;
}

.countdown {
  color: white;
}


#countdown-title {
  font-weight: bold;
}

.blastOff {
  display: none;
  
}

.rocket-cloud-section {
  display: flex;
  align-content: center;
}

.rocket-cloud-style {
  height: 6.5vh;
  width: 23vw;
}

/*x-small screen*/
@media only screen and (max-width: 365px) {
  .rocket-cloud-style {
    height: 3.5vh;
  }
}

/*xx-small screen*/
@media only screen and (max-width: 330px) {
  .rocket-cloud-style {
    max-height: 0vh;
  }
}

/*medium screens*/
@media only screen and (min-width: 767px) {
  .rocket-cloud-style {
    height: 13vh;
  }
}

/*large screens*/
@media only screen and (min-width: 900px) {
  .rocket-cloud-style {
    height: 12vh;
    width: 22vw;
  }
}

/*x-large screens*/
@media only screen and (min-width: 1550px) {
  .rocket-cloud-style {
    height: 12vh;
    width: 18vw;
  }
}

/*x-large screens*/
@media only screen and (min-width: 1920px) {
  .rocket-cloud-style {
    height: 12vh;
    width: 11vw;
  }
}